@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  /* Ocultar flechas en Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Ocultar flechas en Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}